doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        meta(name="author",content="Vineeth N V")
        meta(name="description",content="A simple welcome screen for operating systems")
        title Welcome Screen
        link(rel="stylesheet",href="styles/main.css")
    body
        .container
            section.left.half
                .quick
                .users
                    ul.user-list
                        li.user-list-item
                            .user-img
                            .username-password
                                .username Vineeth
                                .password
                                    input(type="password",placeholder="password")
            section.right.half
